body {
  background-color: black;
  color: rgb(182,182,182);
  font-family: "ITC Galliard", Garamond, 'Yu Mincho', 'YuMincho', 'Meiryo', serif;
}

header {
  display: flex;
  justify-content: space-between;
}

.header-home {
  img {
    width: 60px;
  }
}

.header-about {
  img {
    width: 90px;
  }
}

.header-left {
  display: flex;
  padding: 12px 13px;
}

.header-right {
  img {
    width: 40px;
    margin: 12px 13px;
  }
}

.main-wrapper {
  li {
    font-size: 36px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    &:active {
      color: white;
    }

  }
}

.li-flex a {
  display: flex;
  justify-content: space-between;
}

.li-line {
  color: rgb(63,63,63);
}

.li-heading5
 {
  color: white;
}

.li-line5 {
  color: white;
}

.main-wrapper {
  ul {
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 35px;

  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding-left: 6.5%;
  padding-right: 7.5%;
  padding-top: 30px;
  a {
    &:hover {
      color: #8c6e53;
    }
  }
}



.fa-facebook-square {
  padding: 0 30px;
}