@charset "UTF-8";
body {
  font-family: "ITC Galliard", Garamond, "Yu Mincho", "YuMincho", "Meiryo", serif;
}

.header-left img {
  width: 59px;
  position: relative;
  top: -28px;
}

img.header-left-image {
  width: 82px;
  position: relative;
  top: -24px;
  left: 5px;
}

.header-center {
  position: relative;
  left: 72px;
}

.header-center li {
  display: inline-block;
  font-size: 13px;
  padding: 0 12px;
  color: #252525;
}

.header-center ul {
  position: relative;
  left: -46px;
}

.header-center a {
  padding-bottom: 7px;
}

.header-center a:hover {
  border-bottom: 0.5px solid #555;
}

.contact-a {
  border-bottom: 0.5px solid #555;
}

.header-right li {
  display: inline-block;
  color: #5c5c5c;
  padding: 0 15px;
}

.header-right :hover {
  color: #8c6e53;
}

span.menu-button {
  display: none;
  font-size: 20px;
  -webkit-transform: scale(1.5, 1);
          transform: scale(1.5, 1);
  position: relative;
  top: -12px;
  left: 12px;
}

span.menu-button::before {
  border-bottom: 1px solid black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  line-height: 80px;
  padding: 0 38px;
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
}

.fa-search {
  padding-left: 9px;
}

.header-bottom {
  padding-top: 180px;
  padding-bottom: 70px;
  text-align: center;
}

.header-bottom img {
  width: 140px;
}

.contact-wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

.contact {
  width: 640px;
  margin: 0 auto;
  text-align: center;
}

.contact p {
  text-align: left;
  position: relative;
  top: 12px;
  width: 640px;
  height: 39px;
  margin-top: 21px;
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
}

.contact .input-note {
  font-size: 11px;
  color: #777777;
}

.input-p {
  text-align: left;
  position: relative;
  top: 12px;
  left: -65px;
  width: 640px;
  height: 25px;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

.radio1 {
  margin-left: 30px;
}

.li-radio1 {
  display: inline-block;
}

.contact-input1 {
  background-color: #edebe5;
  padding: 15px;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
}

.textarea {
  background-color: #edebe5;
  width: 640px;
  height: 210px;
  padding: 15px;
  font-size: 1.6rem;
  text-align: left;
  font-family: sans-serif;
}

.textarea2 {
  background-color: #edebe5;
  width: 640px;
  height: 300px;
  padding: 20px;
  font-size: 1.6rem;
  margin: 40px 0 30px;
  text-align: left;
  font-family: sans-serif;
}

.agree-span1 {
  font-family: sans-serif;
  font-size: 14px;
}

.submit {
  color: #bdbdbd;
  font-weight: bold;
  border: 2px solid #bdbdbd;
  font-family: sans-serif;
  padding: 15px;
  font-size: 14px;
  margin-left: 15px;
  width: 90px;
}

.agree-span3 {
  background-color: #edebe5;
  color: #edebe5;
  width: 20px;
  height: 20px;
}

.agree-span3:active {
  background-color: black;
  color: black;
}

.agree {
  text-align: right;
}

.my-checkbox {
  display: block;
  position: relative;
  margin: 1em 0;
  padding-left: 28px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* テキストの選択を防ぐ */
}

/* inputは非表示にする */
.my-checkbox input {
  display: none;
}

.my-checkbox {
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
}

/* □ */
.checkmark {
  position: absolute;
  top: -2px;
  /* 上からの位置 */
  left: 0;
  height: 20px;
  /* 大きさ */
  width: 20px;
  /* 大きさ */
  background-color: #edebe5;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ✓ */
.checkmark:after {
  content: "";
  position: absolute;
  left: 7px;
  /* チェックの位置 */
  top: 5px;
  /* チェックの位置 */
  width: 6px;
  /* チェックの大きさ */
  height: 10px;
  /* チェックの大きさ */
  border: solid;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  /* 透明にしておく */
}

/* チェックが入ったときの□ */
.my-checkbox input:checked + .checkmark {
  background: #edebe5;
  /* チェック時の色 */
  border-color: black;
  /* チェック時の色 */
}

/* チェックが入ったときの✓ */
.my-checkbox input:checked + .checkmark:after {
  opacity: 1;
  /* 透明を解除 */
}

.footer-left,
.footer-center,
.footer-right {
  height: 188px;
  width: 90%;
  padding-top: 20px;
}

.footer-left img,
.footer-center img,
.footer-right img {
  width: 38.5px;
}

.footer-left,
.footer-right {
  border-top: 1px solid black;
}

p.section-ttl {
  font-size: 11px;
  font-family: "Yu Gothic";
  font-weight: 600;
  letter-spacing: 1.5px;
}

p.adress {
  font-size: 11px;
  margin-top: 80px;
}

.small-contents a {
  font-size: 11px;
  border-bottom: 1px solid black;
  margin-right: 20px;
  padding-top: 10px;
  display: inline-block;
}

.small-contents span {
  font-size: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  margin: 50px 40px;
  margin-bottom: 0;
}

.footer-center {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 25px 0 25px;
  margin: 0 25px 0 25px;
  position: relative;
  padding-top: 20px;
}

.footer-center:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0px;
  /*線の上下位置*/
  display: inline-block;
  width: 90%;
  /*線の長さ*/
  height: 2px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #929292;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}
/*# sourceMappingURL=stylesheet.css.map */