  body {
  font-family: "ITC Galliard", Garamond, "Yu Mincho", "YuMincho", "Meiryo",serif;
  
}



// ヘッダー
.header-left img {
  width: 58px;
  position: relative;
  top: -28px;
}

img.header-left-image {

    width: 120px;
    position: relative;
    left: 8px;

}

.header-center {
  position: relative;
  left: 53px;
  li {
    display: inline-block;
    font-size: 13px;
    padding: 0 12px;
    color: rgb(37, 37, 37);
  }

  ul {
    position: relative;
    left: -45px;
  }

  a {
    padding-bottom: 7px;
    &:hover {
      border-bottom: 0.5px solid #555;
    }
  }
}

.business-a {
    border-bottom: 0.5px solid #555;
}

.header-right {
  li {
    display: inline-block;
    color: rgb(92, 92, 92);
    padding: 0 15px;
  }
  :hover {
    color: #8c6e53;
  }
}

span.menu-button {
  display: none;
  font-size: 20px;
  transform: scale(1.5, 1);
  position: relative;
  top: -12px;
  left: 12px;
}

span.menu-button::before {
  border-bottom: 1px solid black;
}

header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
  padding: 0 38px;
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
}

.fa-search {
  padding-left: 9px;
}

.top-padding {
  padding-top: 240px;
  background-color: rgb(121,130,126);
  color: rgb(238,238,238);
  padding-left: 90px;
  padding-right:90px ;
}

.top-wrapper {
  display: flex;
}

.br-0 {
  display: none;
}

.top-left {
  width: 24%;
  p {
    font-size: 13px;
    font-family: 'Futura', 'Yu Gothic', "游ゴシック", 'YuGothic', "游ゴシック体", Hiragino Kaku Gothic ProN, 'Meiryo', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
  }
}

.top-right  {
  width: 76%;
  p {
    font-size: 14px;
    padding-top: 60px;
    padding-bottom: 90px;
    line-height: 32px;
  }
}

.section-ttl {
  h3 {
    font-size: 20px;
    line-height: 33px;
  }


}

.inner {
  font-size: 14px;
  font-family: 'Futura', 'Yu Gothic', "游ゴシック", 'YuGothic', "游ゴシック体", Hiragino Kaku Gothic ProN, 'Meiryo', sans-serif;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(180,184,182);
  display: inline-block;
  margin-bottom: 40px;
}

.inner-wrapper {
  margin-top: 90px;

}

.top-right  {
  li {
    font-size: 14px;
    line-height: 30px;
    list-style-type: none;
   
  }
  
  li:before {
    content: '';
    width:2.5px;
    height: 2.5px;
    display: inline-block;
    border-radius: 100%;
    background:rgb(238,238,238) ;
    position: relative;
    left: -28px;
    top: -3px;
  }

  span {
    font-size: 14px;
    margin-top: 30px;
    display: inline-block;
  }

}

.flow-left p {
  font-size: 13px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.flow-wrapper {
  background-color: rgb(121,130,126);
  color: rgb(238,238,238);
  display: flex;
  padding-left:90px ;
  padding-right: 90px;
  padding-top: 260px;
}

.flow-left {
  width: 24%;
}

.flow-right {
  width: 76%;
  margin-left: 40px;
}

.flow-right {
  p {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.flow-ttl {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(180,184,182);
  margin-bottom: 8px;
  display: inline-block;
}

.flow-step {
  width: 48%;
  padding-top: 40px;
}

.flow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flow-des {
  font-size: 12.6px;
  line-height: 25px;
}

.flow-span {
  padding-right: 14px;
}

.contact-wrapper {
  background-color: rgb(121,130,126);
  color: rgb(238,238,238);
  padding-top: 260px;
  display: flex;
  padding-left: 90px;
  padding-right: 90px;
}

.contact-wrapper {


}

.contact-left {
  width: 24%;
  p {
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
}

.contact-us {
  p {
    font-size: 14px;
    font-family: sans-serif;
    border: 2px solid rgb(238,238,238);
    padding: 15px 0;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    &:hover {
      border: none;
      color: black;
      border: 2px solid black;
    }
  }
  &:hover {
    
  }
}

.contact-tel {
  p {
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 40px;
  }
}


.contact-right {
  width: 76%;
}










// フッター


.footer-left,
.footer-center,
.footer-right {
  height: 188px;
  width: 90%;
  padding-top: 20px;
  img {
    width: 38.5px;
  }
}

.footer-left,
.footer-right {
  border-top: 1px solid rgb(238,238,238);
}

p.section-ttl {
  font-size: 11px;
  font-family: "Yu Gothic";
  font-weight: 600;
  letter-spacing: 1.5px;
}

p.adress {
  font-size: 11px;
  margin-top: 80px;
}

.small-contents {
  a {
    font-size: 11px;
    border-bottom: 1px solid rgb(238,238,238);
    margin-right: 20px;
    padding-top: 10px;
    display: inline-block;
  }

  span {
    font-size: 10px;
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  margin: 0px 0px;
  padding: 130px 40px 40px;
  margin-bottom:0 ;
  background-color: rgb(121,130,126);
  color: rgb(238,238,238);

}

.footer-center {
  border-left: 1px solid rgb(238,238,238) ;
  border-right: 1px solid rgb(238,238,238);
  padding: 0 25px 0 25px;
  margin: 0 25px 0 25px;
  position: relative;
  padding-top: 20px;
}

.footer-center:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0px; /*線の上下位置*/
  display: inline-block;
  width: 90%; /*線の長さ*/
  height: 1px; /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); /*位置調整*/
  background-color: rgb(238,238,238); /*線の色*/
  border-radius: 2px; /*線の丸み*/
}





