@media(max-width:1439px) {

    .items-heading img {
        
          width: 240px;
        
      }
      
      .items-headings {
        padding-top: 185px;
        text-align: center;
      }

      .items-list {
        padding-top: 120px;

      }
      
      .items-list a {
          font-size: 22.4px;
          padding-right: 19px;
          color: rgb(124,124,124);
      }
      
      .items-span1 {
        width: 20px;
      }
      
      .items-list-bottom span{
        
          font-size: 12px;
          font-family: sans-serif;
          padding-top: 40px;
          display: inline-block;
        
      }

}

@media(max-width:1312px) {

}

@media(max-width:1279px) {

    /* 1279以下の時のヘッダーが小さくなる設定 */

    .header-left img {
        width: 48px;
        position: relative;
        top: -45px;
        left: -20px;
    }
  
    header {
        height: 60px;
    }

    img.header-left-image {
        width: 80px;
        position: relative;
        top: -41px;
        left: -15px;

    }

    .header-left {
        padding-top: 10px;

    }

    /* 1279以下の時のヘッダーが小さくなる設定 */

    .items-heading img {
         
          width: 240px;
        
      }
      
      .items-headings {
        padding-top: 160px;
        text-align: center;
      }

      .items-list {
        padding-top: 100px;

      }
      
      .items-list a {
        
        
          font-size: 18px;
          padding-right: 15px;
        
      }
      
      .items-span1 {
        padding-right:15px ;
      }
      
      .items-list-bottom span{
        
          font-size: 12px;
          font-family: sans-serif;
          padding-top: 40px;
          display: inline-block;
        
      }
    
   

      .header-right li {
        display: none;
    }

    .header-center li {
        display: none;
    }

    span.menu-button {
        display: block;
    }

    .items-wrapper {
        margin-left: 120px;
        margin-right: 30px;
    }

    .item-card {
        width: 31%;
        
    }

    .item-card h1 {
        font-size: 15px;
        padding-top: ;
        padding-bottom:10px ;
    }

    .nav-links {
        padding-top: 200px;
    }

    footer {
        margin-top: 10px;
    }





}

@media (max-width:959px) {

    /* .generation-ttl2 {
        width: 400px;
        
    }

    .generation-ttl2 .span-1 {
        font-size: 40px;
    }

    .generation-ttl2 .span-2 {
        height: 40px;
        width: 1px;
    } */

    .items-wrapper {
        margin-left: 80px;
        margin-right:0px ;
    }

    .items-heading img {
        width: 150px;
    }

    .items-headings {
        padding-top: 130px;
    }

    .items-list {
        margin-left: 40px;
        margin-right: 40px;
    }

    .items-list a {
        display: inline-block;
        font-size: 16.9px;
    }

    .items-list-a2 {
        padding-bottom: 20px;
    }




   footer {
       display: flex;
       flex-direction: column;
   }

   p.section-ttl {
    
   }

   p.adress {
       margin-top: 20px;
   }

   .footer-left {
       height: 75px; 
       width: 100%;
       padding-top: 25px;
   }

   .footer-center {
       border-left: none;
       border-right: none;
       border-top:1px solid black ;
       padding-top: 30px;
       padding-left: 0;
       padding-right: 0;
       margin-left: 0;
       margin-right: 0;
       height: 135px;
       width: 100%;
   }

   .footer-center:before {
       width: 0;
   }

   .footer-right {
       padding-top: 30px;
       height: 110px;

       width: 100%;
   }

 
}
@media(max-width:732px) {
    .item-card {
        width: 30%;
    }
}


@media(max-width:639px) {

span.menu-button {
    position: relative;
    top: 10px;
    left: 30px;
}

.items-heading img {
    width: 110px;

}

.items-headings {
    padding-top: 100px;
}

.items-list {
    padding-top: 70px;
}

    .item-card {
        width: 46%;
        
    }

    .item-card img{
        width: 90%;
    }

    .item-card h1 {
        font-size: 13px;
        padding-top:40px ;
       

    }

   
    .items-wrapper {
        margin-left:50px ;
        margin-right:0px ;
        position: relative;
        top: -10px;
    }

    .nav-links {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        padding-top: 45px;
    }

    footer {
        margin-top: -10px;
    }

    .items-list-bottom span {
padding-top:20px ;
    }

   




}