@charset "UTF-8";
body {
  font-family: "ITC Galliard", Garamond, "Yu Mincho", "YuMincho", "Meiryo", serif;
}

.header-left img {
  width: 59px;
  position: relative;
  top: -28px;
}

img.header-left-image {
  width: 70px;
  position: relative;
  top: -24px;
  left: 4px;
}

.header-center {
  position: relative;
  left: 72px;
}

.header-center li {
  display: inline-block;
  font-size: 13px;
  padding: 0 12px;
  color: #252525;
}

.header-center ul {
  position: relative;
  left: -40px;
}

.header-center a {
  padding-bottom: 7px;
}

.header-center a:hover {
  border-bottom: 0.5px solid #555;
}

.items-a {
  border-bottom: 0.5px solid #555;
}

.header-right li {
  display: inline-block;
  color: #5c5c5c;
  padding: 0 15px;
}

.header-right :hover {
  color: #8c6e53;
}

span.menu-button {
  display: none;
  font-size: 20px;
  -webkit-transform: scale(1.5, 1);
          transform: scale(1.5, 1);
  position: relative;
  top: 10px;
  left: 30px;
}

span.menu-button::before {
  border-bottom: 1px solid black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  line-height: 80px;
  padding: 0 38px;
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
}

.fa-search {
  padding-left: 9px;
}

.items-heading img {
  width: 150px;
}

.items-headings {
  padding-top: 185px;
  text-align: center;
}

.items-list {
  padding-top: 120px;
}

.items-list a {
  font-size: 28px;
  padding-right: 22px;
  color: #7c7c7c;
}

.items-span1 {
  width: 20px;
}

.items-list-bottom span {
  font-size: 12px;
  font-family: sans-serif;
  padding-top: 40px;
  display: inline-block;
}

.nav-links {
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 160px;
}

.nav-links a, span {
  width: 57px;
  height: 35px;
  margin: 4px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  background: #fff;
  color: #222;
  border-radius: 4px;
  font-family: sans-serif;
}

.nav-links a:hover {
  background: black;
  color: white;
}

.current {
  background: #b2b2b2;
  color: white;
}

.dots {
  background: none;
}

.footer-left,
.footer-center,
.footer-right {
  height: 188px;
  width: 90%;
  padding-top: 20px;
}

.footer-left img,
.footer-center img,
.footer-right img {
  width: 38.5px;
}

.footer-left,
.footer-right {
  border-top: 1px solid black;
}

p.section-ttl {
  font-size: 11px;
  font-family: "Yu Gothic";
  font-weight: 600;
  letter-spacing: 1.5px;
}

p.adress {
  font-size: 11px;
  margin-top: 80px;
}

.small-contents a {
  font-size: 11px;
  border-bottom: 1px solid black;
  margin-right: 20px;
  padding-top: 10px;
  display: inline-block;
}

.small-contents span {
  font-size: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  margin: 0px 40px;
  margin-top: 150px;
  margin-bottom: 0;
}

.footer-center {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 25px 0 25px;
  margin: 0 25px 0 25px;
  position: relative;
  padding-top: 20px;
}

.footer-center:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0px;
  /*線の上下位置*/
  display: inline-block;
  width: 90%;
  /*線の長さ*/
  height: 2px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #929292;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

.generation-text2 {
  display: none;
}

.items-wrapper {
  position: relative;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 90px;
  margin-right: 50px;
}

.item-card {
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 15px;
  margin-top: 68px;
  width: 17%;
}

.item-card:hover {
  opacity: 0.6;
}

.item-card img {
  width: 100%;
  border-top: 1px solid #555;
  padding-top: 30px;
}

.item-card h1 {
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 17px;
}

.item-card span {
  font-size: 11px;
  color: #838383;
}
/*# sourceMappingURL=stylesheet.css.map */